* {
  margin: 0;
  padding: 0;
}

body { 
  background: white;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #222222;
  overflow: hidden;
}

#graph-container {
  width: 768px;
  background-color: gray;
}

#graph {
  margin: 0 auto;
  width: 768px;
  height: 500px;
  background-color: white;
}

#graph-tooltip {
  position: absolute;
  top:0;
  left:0;
  padding: 3px 5px;
  background-color: rgb(76, 179, 218);
  color: white;
}

.tooltip_title {
  text-transform: uppercase;
  font-size: 12px;
}

#file-upload {
  position: absolute;
  top: 50%;  left: 50%; /*adjusted in JS*/
  width: 250px;
  height: 250px;
  background-color: rgb(76, 179, 218);
}

#show-file-upload {
  cursor: pointer;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(76, 179, 218);
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  background-color: #0d0d0d;
  overflow-x: hidden;
  overflow-y: hidden;
  list-style-type: none;
}

#show-sidebar {
  cursor: pointer;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #0d0d0d;
}

#sidebar li {
  width: 150px;
  height: 150px;
  text-align: center;
/*  line-height: 150px;*/
  background-color: black;
  color: white;
}

#sidebar .small-li, #sidebar .ex-small-li {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 12px;
}

#sidebar li:hover {
  background-color: rgb(76, 179, 218);
  color: white;
  cursor: pointer;
}

#sidebar .layer {
  padding-top: 45px;
  height: 150px;
}

#sidebar .selected {
  background-color: rgb(76, 179, 218);
}

.text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

#upload-text {
  cursor: default;
  margin: 15px;
  color: white;
  font-size: 20px;
}

.file-over {
  outline: 5px dashed rgb(76, 179, 218);
}

/*! jQuery UI - v1.10.1 - 2013-03-07*/
.ui-progressbar {
  margin: 145px 15px 15px 15px;
  height: 1.5em;
  text-align: left;
  overflow: hidden;
}

.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

.ui-widget-content {
  border: 1px solid white;
  background: white;
}

.ui-widget-header {
  border: 1px solid rgb(76, 179, 218);
  background: rgb(76, 179, 218);
}
/* ----------------------------------*/